<!-- ko with: home -->
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Your information</h2>
            <p>This section shows how you can call ASP.NET Web API to get the user details.</p>
            <p data-bind="text: myHometown"></p>

            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
                It's now easier than ever before to getting started writing highly interactive web applications.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
*@
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/static/css/1.6d399e51.chunk.css" rel="stylesheet" />
    <link href="~/static/css/main.41ea253f.chunk.css" rel="stylesheet" />

  
    <link rel="stylesheet" href="~/static/out/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/static/out/css/AdminLTE.css">
    <link rel="stylesheet" href="~/static/out/css/_all-skins.min.css">
    <link rel="stylesheet" href="~/static/out/css/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">



    <title>React App</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root" class="wrapper"></div>
   

    <script src="~/static/js/1.c93f4934.chunk.js"></script>
    <script src="~/static/js/main.4268d339.chunk.js"></script>
   

    <script src="~/static/js/runtime~main.229c360f.js"></script>

    <script src="~/static/out/js/jquery.min.js"></script>
    <script src="~/static/out/js/bootstrap.min.js"></script>
    <script src="~/static/out/js/jquery.slimscroll.min.js"></script>
    

    <script src="~/static/out/js/adminlte.min.js"></script>
    
</html>







        <!-- /ko -->
        @*<script src="~/Scripts/jquery-1.10.2.js"></script>
            <script>

                const header = {
                    headers: {
                        "Accept": "application/json;odata=verbose",
                        'Content-Type': 'application/json;charset=UTF-8'
                    }
                }
                $.ajax({
                    type: 'GET',
                    url: "/api/WellProfiles",
                    data: { "count": 222,"page":10 }

                }).then(function (a) {
                    console.log(a);
                })
            </script>*@
